<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Extra Exceptional e-Commerce</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link rel='stylesheet' href='/css/branding.css' />
    <link rel='stylesheet' href='/css/bs-overrides.css' />
    {{! Bootstrap Styles/Icons }}
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css'
    />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3'
      crossorigin='anonymous'
    />
    {{! Google font family 'indie-flower' }}
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Kalam&family=News+Cycle:wght@400;700&display=swap'
      rel='stylesheet'
    />

    {{! jquery min script }}
    <script
      src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js'
    ></script>

    {{! Bootstrap Script }}

    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p'
      crossorigin='anonymous'
    ></script>

  </head>

  <body>
    <nav class='navbar navbar-light bg-none p-2 m-2'>
      <div class='container-fluid'>
        <a
          href='/'
          class='navbar-brand mr-auto mb-0 h1 text-decoration-none fw-bold'
        >Exceptional e-Commerce</a>

        <div class='nav-item btn-group align-items-end'>

          <a
            href='/'
            class='btn btn-primary nav-item'
            style='background-color:#0dcaf0'
            aria-current='home-products-page'
          >Products
          </a>
          <a
            onclick="window.location.href='/api/warehouses/all'"
            class='btn btn-primary nav-item'
            style='background-color:#0dcaf0'
            aria-current='warehouses-page'
          >Warehouses
          </a>
          <a
            onclick="window.location.href='/api/tags/all'"
            class='btn btn-primary nav-item'
            style='background-color:#0dcaf0'
            aria-current='tags-page'
          >Tags
          </a>

        </div>
      </div>
    </nav>

    <main class='card text-center'>

    </main>

    {{{body}}}

    <footer class='page-footer bg-secondary px-3'>
      <div class='text-center'>
        <a href='https://github.com/kimberlym4488/extra-exceptional-ecommerce'>
          <img
            src='/assets/GitHub-Emblem.png'
            style='width:80px;height:40px'
          /></a>
      </div>
    </footer>
    {{! Bootstrap and Jquery placed here to apply to each component/view rendered within }}
    <script
      src='https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js'
      integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js'
      integrity='sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF'
      crossorigin='anonymous'
    ></script>

  </body>

</html>